ExerciseFiles/SSISDemoFiles.zip
ExerciseFiles/SSISDemos.zip
ExerciseFiles/TableScripts.zip
ExerciseFiles/TermExtractionDemo.txt
ssis/DataFlowTraining/.vs/DataFlowTraining/FileContentIndex/d9760759-eb50-4024-b3d3-3bd1ecf5f329.vsidx
ssis/CrimeStatisticsImport/StatisticsImport/.vs/StatisticsImport/FileContentIndex/0b4fa473-0bf9-488e-97d7-fab7089c6467.vsidx
ssis/CrimeStatisticsImport/StatisticsImport/.vs/StatisticsImport/FileContentIndex/68e63ce1-cc7c-4496-97fe-93fd222cf85e.vsidx
ssis/CrimeStatisticsImport/StatisticsImport/.vs/StatisticsImport/FileContentIndex/94abb02d-377c-4785-9a5f-b89e741b5682.vsidx
ssis/CrimeStatisticsImport/StatisticsImport/.vs/StatisticsImport/FileContentIndex/ac33495c-f3a3-4133-8fdb-968004b73c56.vsidx
