ExerciseFiles/SSISDemoFiles.zip
ExerciseFiles/SSISDemos.zip
ExerciseFiles/TableScripts.zip
ExerciseFiles/TermExtractionDemo.txt
ssis/DataFlowTraining/.vs/DataFlowTraining/FileContentIndex/d9760759-eb50-4024-b3d3-3bd1ecf5f329.vsidx
